/*body{
	background-image: url(https://nsa40.casimages.com/img/2021/02/24/210224070241266940.png);
	background-repeat: no-repeat; 
	background-position: center top;
}*/


body{
	margin: 0px;
	padding: 0px ;
	font-family: "Playfair Display"
}


body{
	background: url('../img/haut.png'), url('../img/201.png');
	background-repeat: no-repeat, repeat;
	background-position: top center;
	margin: 0 auto;

}


nav.menu-nav ul li.b{
	list-style-type: none;
	display: inline-block; 
	
	

}

li.b a{
	text-decoration: none;
}



li.b a{
	color: #FFF952;
	font-size: 34px ;
	font-family: "Playfair Display";

}

nav.menu-nav{
	position: absolute;
	left: 50%;
	top: 20px;

}


nav li{
	list-style-type: none;
}

nav > ul{
	margin: 0px;
	padding: 0px;
}


a{
	text-decoration: none;
	color: #FFF952;
	font-size: 22px;
}

.wrapper{
	margin: 0 auto;
	width: 1000px;
	padding-top: 10%;

}

header li{
	display: inline-block;
	position: relative;
}


header li a {
	display: block;
	padding: 20px;
}

header li a:hover{
	background-color: #FFF952;
	color: black ;
	transition: 0.3s;

}

header li:hover .sub-menu{
	display: block;
	transition: 0.5s;


}

.sub-menu {
	display: none;
	position: absolute;
	background-color: black;
	color: #FFF952; 
	
	
}

ul {
    padding-left: 0;
}

footer{
	text-align: center;
	padding-top: 60%;
	font-family: "arial ";
	 	
}


footer a {
	text-decoration: underline;
	color: black;
}

img.kj{
	width: 550px;
	padding-right: 500px;
}

img.mrc{
	width: 530px;
	padding-left: 270px;
}

.artwork{
	width: 379px;
	padding-left: 0px;
	padding-top: 20px;

}



	
	
div#content div{
	display: inline-block;
}

.bimage{
	margin-left: 400px;
}

p.btext{
	margin: 25px;
}

div.btext h1{
	margin-left: 200px;
	margin-top: 100px ;
}


div.btext p{
	margin-bottom: 100px;
}

.bimage{
	padding-top: 55px;
}

.pvideo{
	position: absolute;
	left: 30%;
	bottom: -160%;

}
